

.Order-detail {
    .title-order-detail {
        h3 {

        }
    }
    .order-CustomerInfo {
        .address {
            h5 {

            }
            p {
                background-color: red;
            }
        }
    }
    .order-items {
        table {
            margin-top: 50px;
            tbody {
                hr:last-child {
                    display: none;
                }
                tr {
                    th {
                        text-align: start;
                        .detail-product {
                            h6 {
                                margin-top: 10px ;
                            }
                            .product-img {
                                width: 120px;
                                height: 120px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}