
$green-color: #BED747;
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 70px;
    .img-product {
        border: 3px solid #bed747;
        border-radius: 30px;
        img {
            width: 100%;
            height: 100%;
        };
    }
    .content {
        text-align: start;
        .content-header {
            border-bottom: 1px solid #999;
            margin-bottom: 20px;
            h4 {
                font-weight: 600;
                padding: 14px 0;
            }
        }
        .content-body {
            span {
                display: block;
                padding: 10px 0px;
                i {
                    font-size: 20px;
                    color: #bed747;
                    margin-left: 10px;
                }
            }   
            h5 {
                font-weight: 600;
                margin: 10px 0px;
            }
            p {
                margin-top: 36px ;
                font-size: 18px;
                font-weight: 600;
                >span {
                    font-weight: 400;
                    border-top: 1px solid #999;
                    margin-top: 10px;
                    padding: 15px 0px;
                }
            }
            .id-product {
                font-weight: 500;
            }
            .choise {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 10px 0px 0px;
                margin-top: 30px;
                .cre-number {
                    input {
                        text-align: center;
                        padding: 7px 10px;
                        max-width: 90px;
                        border-radius: 20px;
                        border: 2px solid $green-color;
                        outline: none;
                        margin: 0 !important;
                    }
                    input[type=number]::-webkit-inner-spin-button, 
                    input[type=number]::-webkit-outer-spin-button { 
                        // -webkit-appearance: none; 
                        margin: 10; 
                    }
                }
                .add-to-card {
                    button {
                        padding: 7px 30px;
                        border: 2px solid $green-color;
                        border-radius: 20px;
                        background-color: $green-color;
                        color: white;
                        transition: .4s all;
                        &:hover {
                            transform: .4s all;
                            background-color: white;
                            color: $green-color;
                        }
                    }
                }
            }
        }

    }

}

#form-comment {
    textarea {
        outline: none;
        border: none !important;
    }
}


.product-rating {
    max-width: 500px;
    >div {
        h1 {

        }
        .rate {
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: start;
            margin-bottom: 10px;
            p {
                color: rgb(0, 102, 255);
                cursor: pointer;
            }
        }
        >div {
            max-width: 700px;
            .wraper-rating {
                display: grid;
                grid-template-columns: 1fr 3fr 2fr;
                .percent-rating {
                    div {
                        p {
                            font-size: 18px;
                            font-weight: 500;
                            color: #777;
                        }
                        i {
                            font-size: 70px;
                            color: rgb(255, 196, 0);
                            margin: 5px 0px;
                        }
                        span {
                            color: #777;
                            font-size: 16px;
                        }
                    }
                }
                .detail-rating {
                    .items {
                        .item {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                        }
                    }
                }
            }
        }
    }
}

.comment {
    display: flex;
    justify-content: start !important;
}

hr {
    // margin-top: 60px;
    border-width: 3px;
}