
.wrap-form {
    height: 800px;
    padding: 50px 0px;
    label {
        display: block;
        align-self: start;
        text-align: start;
        font-weight: 600;
    }
    textarea {
        padding: 10px;
        margin-bottom: 10px;
    }
    .form-control {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-add {
            // background-color: red;
            box-shadow: 0px 0px 20px 5px rgb(187, 187, 187);
            width: 50%;
            height: 100%;
        }
    }
}


.form-head {
    text-align: center;
    font-size: 24px;

}