

.FormCreate {
    background-color: white ;
    padding: 10px;
    margin-bottom: 20px;
    .title {
        
    }
    .wrap-form {
        display: flex;
        justify-content: center;
        padding: 0 !important; 
        // align-items: center;
        form {
            label {
                font-size: 17px;
            }
            padding: 10px 15px ;
            width: 500px;
            height: 600px;
            // background-color: rgb(34, 174, 255);
            box-shadow: 0px 0px 25px 2px #777;
        }
    }
}