
$green-color: #BED747;
#modal-log {
    min-width: 880px !important;
}

.modal-content {
    padding: 10px 0px 30px 0px;
    display: grid;
   grid-template-columns: 2fr 3fr;
    flex-direction: row;
    .modal-img {
        img {
            width: 100% ;
            // height: 100%;
            
        }
    }
    .content-right{
        .modal-header {
            border-bottom: 1px medium #777;
            h4 {
                text-align: left;
                font-weight: 600;
            }
        }
        .modal-body{
            text-align: left;
            .id-product  {
                margin-bottom: 10px;
                display: block;
            }
            > span {
                font-size: 1em;
            }
            h5 {
                font-size: 1.2em;
                font-weight: 600;
                margin: 14px 0px;
            }
            > p {
                font-weight: 500;
                span {
                    margin-left: 5px;
                    font-weight: 400;
                }
            }
            
            
            .choise {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 10px 0px 0px;
                margin-top: 30px;
                .cre-number{
                    input {
                        text-align: center;
                        padding: 7px 10px;
                        max-width: 90px;
                        border-radius: 20px;
                        border: 2px solid $green-color;
                        outline: none;
                        margin: 0 !important;
                    }
                    input[type=number]::-webkit-inner-spin-button, 
                    input[type=number]::-webkit-outer-spin-button { 
                        // -webkit-appearance: none; 
                        margin: 10; 
                    }
                }
                .add-to-card {
                    button {
                        padding: 7px 30px;
                        border: 2px solid $green-color;
                        border-radius: 20px;
                        background-color: $green-color;
                        color: white;
                        transition: .4s all;
                        outline: none;
                        &:hover {
                            transform: .4s all;
                            background-color: white;
                            color: $green-color;
                        }
                    }
                }
            }

        }
    }
}