.success {
    #content {
        >h1 {
            font-weight: 600;
        }
        >p {
            margin: 20px 0px;
            font-size: 24px;
        }
        >.content_info {
            a {
                font-size: 18px;
                text-decoration: none;
                
                &:hover {
                    color: forestgreen !important;
                }
                i {
                    margin-right: 20px;
                }
            }
        }
    }
}
