.create-bar {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    padding: 0px 40px 40px 0px;
    .wrap-form--dialog{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        .relative {
            position: relative;
           
        }
    }
}
.MuiAlert-standardError {
    position: absolute !important;
    right: -320px !important;
    top: 65px !important;
    animation-name: NotifiAnimation;
    -o-animation-duration: .4s;
}
.MuiAlert-standardSuccess {
    position: absolute !important;
    right: -290px !important;
    top: 65px !important;
    animation-name: NotifiAnimation;
    -o-animation-duration: .4s;
}

@keyframes NotifiAnimation {
    from {
        right: -400px !important;
        opacity: 0;
    }
    to {
        right: -290px !important;
        opacity: 1;
    }
}