
$background-color: #003c2d;
$footer-color: #BED747;
$color-blue: #1a73e8;


button {
    outline: none !important;
}
.container {
    max-width: 1200px;
}
.Header-basic{
    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-color;
        position: relative;
        max-height: 90px;
        .logo{
            img {
                height: 100px;
                width: 100px;
            }
        }  
        .admin-account {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            width: 120px;
            div {   
                i {
                    font-size: 20px;
                    color: white;
                }
            }
            a {
                color: white !important;
                font-size: 18px;
                display: block;
                margin-right: 10px;
                text-decoration: none;
                transition: .4s all;
                &:hover {
                    color: $color-blue;
                    transition: .4s all;
                }
            }
        }
    }
    .header_middle{
        border: 3px solid $footer-color;
        border-radius: 50px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            margin-left: 30px;
            height: 62px;
        }
        .search-products {
            display: flex;
            justify-content: center;
            width: 500px;
            margin-right: 40px;
            input {
                width: 100%;
                padding: 10px 20px;
                border-radius: 12px 0px 0px 12px;
                outline: none;
                border: 1px solid $footer-color;
            }
            button {
                border-radius: 0px 5px 5px 0px;
                border: 1px solid $footer-color;
                width: 50px;
                i {
                    font-size: 18px;
                    color: #777;
                    transition: .4s all;
                    &:hover {
                        color: $color-blue;
                        transition: .4s all;
                    }
                }
            }
        }
    }
}


.navbar {
    display: flex;
    align-items: flex-start;
    
        .wrap-navbar {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
            top: 40px;
            left: 0px;
            // border: 1px solid rgb(158, 158, 158);
            padding: 10px;
            margin-top: -50px;
            padding: 7px 0px;
            .title-nav {
                background-color: rgb(175, 175, 175);;
                font-size: 25px;
              
               
                // border: 1px solid;
            
            }
            .dropright {
                margin: 6px 0px;
                .btn-secondary {
                    background-color: rgba(216, 216, 216, 0.452);
                    border: none;
                    color: #333;
                    text-align: left;
                    &::after {
                        // right: 0 !important;
                        // martop: 5px !important;
                        margin-top: 7px;
                        float: right;
                    }
                }
                .dropdown-menu {
                    margin-left: 16px;
                    a {
                        border-bottom: 1px solid rgba(0,0,0,.15);
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                    
                }
            }
        }
}

.Main-Controll {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    margin-top: 40px;
    padding: 0px 10px;
    .navbar {
        // margin: 0 !important;
        padding: 0 20px;
        margin-top: 2px;
        
        .wrap-navbar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 28px;
            a {
                text-decoration: none;
                font-size: 20px;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

