* {
    margin: 0;
    padding: 0;
  }
  
  a{
    color: #003c2d !important;
    text-decoration: none;
    font-weight: 500;
  }
  
  a:hover{
    color: #FAA634 !important;
  }
  
.content{
    display: block;
    justify-content: center;
    text-align: center;
}

.title{
  background-color: #BED747;
  padding: 20px;
  border-radius: 10px;
}

.title h1{ 
    font-size: 27px;
    font-family: inherit;
    font-weight: bold;
}

.content_contact{
  width: calc(100% - 45px);
  float: left;
  padding-left: 15px;
}

.list_icon{
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  float: left;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 22px;
  background: #003C2D;
  color: #fff; 
}

.content_contact p{
  margin: 0;
}

.info{
    text-align: left;
}

.info h2{
  margin-left: 35px;
}

.list_info li{
  padding: 22px 0;
  margin-bottom: 30px;
}

.feedback{
  display: block;
  text-align: left;
}

.form_feedback {
  textarea:focus {
    outline: none;
  }
}

.form_feedback input:focus {
  border: 1px solid #BED747 !important;
  outline: none;
}

.form_feedback input{
  border: 1px solid #BED747;
  box-shadow: none;
  height: 45px;
  font-weight: 500;
  padding: 0 20px;
  background: transparent;
  color: #333333;
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
}

.form_feedback textarea{
  border: 1px solid #BED747;
  height: 100px;
  font-weight: 500;
  padding: 10px 20px;
  background: transparent;
  color: #333333;
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
}

.form_feedback button{
  border: 2px solid #BED747;
  box-shadow: none;
  height: 50px;
  width: 100px;
  margin-left: 250px;
  margin-top: 30px;
  border-radius: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    font-family: inherit;
    color: #003c2d;
}

.form_DK{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 70px !important;
}
  
.form_DK h3{
    margin-bottom: 6px;
    font-size: 30px;
    color: #003C2D;
    text-align: center;
    font-weight: 700;
}
  
.form_DK p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #333;
}

.send_email{
    margin-top: 16px !important;
}

.send_email input{
    height: 50px;
    line-height: 25px;
    color: #999999;
    padding: 10px 20px;
    border: 2px solid #BED747;
    border-radius: 25px;
    width: 340px;
    outline: none;
  }
  
.send_email button{
    border-radius: 25px;
    width: 106px;
    height: 50px;
    border: 2px solid #BED747;
}
  
.end{
    background-color: #BED747;
    line-height: 2.5;
}
  
li {
    list-style-type: none;
}
  
li a{
    text-decoration: none;
}
  
.company{
    text-align: center;
}
  
.company a{
    text-decoration: none;
}
  

* {
    margin: 0;
    padding: 0;
  }
  
  /* .header{
    position: fixed;
    z-index: 2;
    background: white;
    width: 100%;
    top: 0;
  } */
  
  a{
    color: #003c2d !important;
    text-decoration: none;
    font-weight: 500;
  }
  
  a:hover{
    color: #FAA634 !important;
  }
  
  .menu a:hover{
    color: #bed747 !important;
  }
  
  .top {
    text-align: center;
    background: #003c2d;
    padding-left: 0;
    padding-right: 0;
    height: 30px;
  }
  
  .menu {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    border-style: solid;
    border-color: #bed747;
  }
  
  #menubar {
   
    padding: 0;
  }
  
  #menubar img {
    width: 70%;
    height: 50%;
  }
  
  .t_search {
    border-radius: 50px !important;
    width: 260px !important;
    height: 30px;
  }
  
  .btn_search{
    padding: 0px 0px;
    border: none;
    background-color: white;
  
  }
  
  .icon{
    margin-left: 15px;
    font-size: 15px;
  }
  
  
  .dropdown{
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content{
    display: none; /*ẩn danh sách đổ xuống*/
    position: absolute;
    z-index: 1;
    background-color: #f5f5f5;
  }
  
  .dropdown:hover .dropdown-content{
    display: block; /*hiện danh sách đổ xuống khi hover vào*/
    animation-name: example;
    animation-duration: 0.4s; 
  }
  
  @keyframes example {
    0%{
      opacity: 0;
      top: 80px;
    }
    80%{
      top: auto;
    }
  }


  /* CSS chung củ phần addThis_listing */
  .addThis_listing{
    display: block;
  }
  
  .addThis_Address {
    position: relative;
  }
  
  .addThis_Address a {
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    background: #ece80e;
    position: fixed;
    bottom: 160px;
    right: 20px;
  }
  
  .addThis_Address i {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 25%;
    right: 30%;
  }
  
  .addThis_Contact {
    position: relative;
  }
  
  .addThis_Contact a {
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    background: #09f3d4;
    position: fixed;
    bottom: 90px;
    right: 20px;
  }
  
  .addThis_Contact i {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 25%;
    right: 25%;
  }
  
  .back-to-top {
    position: relative;
  }
  
  .back-to-top a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #475dd7;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .back-to-top a::before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%) rotate(45deg);
            transform: translate(50%, -50%) rotate(45deg);
  }
  
  html, body{
    scroll-behavior: smooth;
  } 